<div class="bg-dark">
    <app-nav></app-nav>
</div>

<h1 align="center" style="color: #fff;">Welcome to Camera Bazar!!</h1>
<br>
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-6 mb-5" align="center">
        <div class="card">
                <div class="card-body">
                        <div class="card-header py-2">
                            <h1 class="my-0 fw-normal rounded-5" align="center">  
                            <svg  xmlns="http://www.w3.org/2000/svg" alt="mdo" width="70" height="70" fill="white"  viewBox="0 0 16 16" class="rounded-circle">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg> 
                              <p>My Profile</p>
                            </h1>   
                        </div>
                          
                        <table align="center" style="width:auto;height: 100px;">
                            <tbody>
                                <tr>
                                    <th>id:</th>
                                    <td>{{users.id}}</td>
                                </tr>
                                <tr>
                                    <th>User Name:</th>
                                    <td>{{users.userName}}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{users.emailId}}</td>
                                </tr>
                            </tbody>
                              
                        </table>                    
                </div>
        </div>
    </div>   
    <div class="col-md-4">
        
    </div>
    
</div>



