.card{
    color: #fff;
    backdrop-filter: blur(80px);
    background-color: rgba(255, 255, 255, 0.2);
}

.example-card {
  color: #fff;
  backdrop-filter: blur(80px);
  background-color: rgba(255, 255, 255, 0.2);
  /* max-width: 400px; */
}
.table
{
  align-items: center;
  padding: auto;
  border: 1px;
}
.card-body
{
  color: rgb(27, 21, 21);
    backdrop-filter: blur(80px);
    background-color: rgba(17, 13, 13, 0.2);
}
