<h1 align="center" style="color: #fff;">Welcome to Camera Bazar!!</h1>
<br>
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-6 mb-5">
        <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" placeholder="Enter email" name="email" 
                            [(ngModel)]="user.emailId" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                            #email="ngModel"
                            [class.is-invalid]="email.invalid && email.touched"/>
                        </div>
                        <div class="form-group">
                            <label for="pwd">New Password:</label>
                            <input type="password" class="form-control" placeholder="Enter password" name="pwd" [(ngModel)]="user.password" required #password="ngModel"
                            [class.is-invalid]="password.invalid && password.touched">
                            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required field</small>
                          </div>
                          <br>
                          <button type="submit" class="btn btn-outline-primary rounded-3" (click)="changePassword()">Set Password</button>
                    </form>
                        
                        <br>
                        <a type="submit" class="my-0 fw-normal rounded-5"  [routerLink]="['/login']">Log In</a>
                </div>
                    
        </div>
        
    </div>   
    
    
</div>




