<div class="card shadow">
  <img class="bd-placeholder-img card-img-top" width="60%" height="10%"
  [src]="[(productItem.imgurl)]" style="padding:auto; width:100%; height:10%;shape-image-threshold: square;"/>


  <div class="card-body">
    <p class="card-text">
      <strong>{{productItem.price | currency: 'INR'}}</strong>
    </p>

    <p class="card-text product-details" style="width:100%; height:100%;">{{productItem.name}}</p>
    <p class="card-text product-details" style="width:100%; height:100%;">{{productItem.details}}</p>


  </div>
</div>


