<!-- <p>footer works!</p> -->
<!-- <div class="d-flex flex-column flex-md-row align-items-center pb-0 mb-3 border-bottom"> -->
    <footer class="text-muted py-1  pb-0 mb-0 border-top">
        <div class="container">
          <p class="float-end" style="margin-right: 0%;">
            <a style="margin-right: 0%; font-size: xx-small;color: #fff;">Made by Dipta Ranjan Ghosh</a>
            <br>
            <a href="#" style="margin-right: 0%;">Back to top</a>
          </p>
          <p class="mb-0" style="color:#fff ;">Camera Bazar is the website where you can buy cameras with latest models</p>
          <p class="mb-0" style="color:#fff ;">
            New to Camera Bazar
            <a [routerLink]="['/shop']" style="margin-left: 2px;"> Visit the homepage</a>
          </p>
        </div>
    </footer>

<!-- </div> -->
